<app-header></app-header>
<section class="section__container">
  <app-card-filme
    *ngIf="filme"
    [data]="filme"
  ></app-card-filme>
  <app-not-found *ngIf="notfound"></app-not-found>
  
  <button (click)="get_filmes()" class="section__button">
    <img class="" src="assets/logo.svg" alt="" />
    Encontrar filme
  </button>
  
  <span class="explain">
    Clique em "Encontrar filme" que traremos informações de algum filme para
    você assistir hoje.
  </span>
</section>
<app-loading *ngIf="loading"></app-loading>
<!-- <ng-template #notFound>
  <app-not-found *ngIf="notfound"></app-not-found>
</ng-template> -->
